.image {
    animation: scroll 70s linear infinite;
    background: url("https://templates.envytheme.com/zust/default/assets/images/favourite-bg.jpg"), #111111;
    color: #eee;
    height: 250px;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    margin-bottom: 90px;
}
@keyframes scroll {
    100%{
        background-position:0 -3000px;
    }
}
@media (prefers-reduced-motion) {
    .image {
        animation: scroll 200s linear infinite;
    }
}
.edit_cover_btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: inline-block;
    background-color: #ffffff;
    color: #3644D9;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.edit_cover_btn:hover{
    color: #ffffff;
    background-color: #3644D9;
}

