.wrapper {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.form {
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.error {
    border: 3px solid red;
}

.errorText {
    color: red
}

input {
    max-width: 350px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: rgb(232, 240, 254);
}

.btn {
    max-width: 350px;
    width: 100%;
    padding: 15px;
    background-color: #3644D9;
    color: #ffffff;
    display: inline-block;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn:disabled {
    /*background-color: transparent;*/
    border: 1px solid #3644D9;
    color: #282c34;
    background-color: rgba(255, 255, 255, 0.2);
}

.title, label {
    margin: 0;
    font-size: 28px;
    color: darkgray;
}

label {
    font-size: 18px;
}